.login-wrapper {
    display: flex;
    flex-direction: column; 
    /* justify-content: center; */
    align-items: center;
    width: 100vw;
    height: 90vh;
}

.login-modal {
    padding: 100px;
    background-color: rgba(129, 129, 129, 0.7);
    border-radius: 10px
}

img {
    width: 300px;
}